@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'montserrat',sans-serif;
    overflow-x: hidden;
}


/* Hero */
#hero{
    background-image:url(./images/Hero3.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero .hero{
    max-width: 1200px;
    height: 700px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: flex-start;
}
#hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero h1{
    display: block;
    font-size: 4rem;
    width: fit-content;
    position: relative;
    color: transparent;
    animation: text_reveal .5s forwards;
    animation-delay: 1s;
}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name ease forwards;
    animation-delay: 3s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}
#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}


/* End Hero section */


/* services Section */
#services{

}
#services .services{
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0;
}


.services-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.services-bottom .service-item{
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./images/img1.jpg);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.services-bottom .service-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #292323 0%, #485563 100%);
    opacity: .8;
    z-index: -1;
}
.services .icon{
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
.services-bottom .service-item h2{
    font-size: 2rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.services-bottom .service-item p{
    color: white;
    text-align: left;
}

/* End of service Section */

/* Projects */

#projects .projects{
    flex-direction: column;
    max-width: 1200px;
    padding: 100px 0;
    margin: 0 auto;
}
.project-header{
    margin-bottom:50px ;
}
.all-projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.all-projects .project-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
}

.project-item .project-info{
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}
.project-info h1{
    font-size: 4rem;
    font-weight: 500;
}
.project-info h2{
    font-size:1.8rem;  
    font-weight: 500;
    margin-top: 10px;
}
.project-info p{
    color: white;
}
.project-img{
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position:relative;
    
}
.project-img img{
    transition: .3s ease transform;
   

}

.project-img::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: .7;
    z-index: 1;
}
.project-item:hover .project-img img{
    transform: scale(1.1);
}

#projects .repo{
    display: flex;
}
#projects .repo a{
    padding: 20px;
    margin: 10px ;

}
/* End of projects */

/* About section */
#about .about{
    flex-direction: column-reverse;
    text-align:center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}
#about .col-left{
    width: 250px;
    height: 360px;
}
#about .col-right{
    width: 100%;
}
.col-right h2{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 10px;
}
.col-right p{
    margin-bottom: 20px;
}
.col-right .cta{
    color: crimson;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 300px;
}
.col-left .about-img{
    height: 100%;
    position: relative;
    border: 12px solid white;
    
}

.col-left .about-img::after{
    content: "";
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    border: 7px solid crimson;
    z-index: -1;
}
/* End About section */

/* Contact Section */

#contact .contact{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}
#contact .contact-items{
    width: 100%;
}
#contact .contact-item{
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 10 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: .3s ease box-shadow;
}
#contact .contact-item:hover{
    box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon{
    width: 30%;
    margin: 0 auto;
    margin-bottom: 10px;
}
#contact .contact-info h1{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2{
    font-size: 1.8rem;
    line-height: 2.5rem;
    font-weight: 500;
    margin-left: 30px;
}
#contact .contact-info h2 a{
    color: black;
}
#contact a{
    color: crimson;
    width: 90%;
    text-align: center;
    margin-bottom: 30px;
}
#contact a:hover{
    color :white;
}

/* End Contact Section */

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%); 
}
#footer .footer{
    min-height: 20px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color : white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin: 10px 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0px 5px;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
    text-align: center;
}

#footer .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;

}
#footer .logo-img{
    margin-left: 40px;
}

#footer .logo-img{
    width: 70px;
}

/* End Footer */




/* utilities */
a{
    text-decoration: none;
}
.container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center ;
}
img{
    height: 100%;
    width: 100%; 
    object-fit: cover;
}
p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.section-title{
    font-size: 3.5rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    text-align: center;
}
.section-title span{
    color: crimson;
}
.cta{
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 1rem;
    transition: .3s ease ;
    transition-property: background-color, color;
    
}
.cta:hover{
    color: white;
    background-color: crimson;
}
.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}
.brand h1 span{
    color: crimson;
}

/* Keyframe */

@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0%;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color: white;
    }
}
@keyframes  text_reveal_name{
    100%{
        color: crimson;
    }
}
/* End Keyframe */



/* Media Query For Tablet */

@media only screen and (min-width: 768px){
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.service-title{
        font-size: 6rem;
    }

/* Hero*/
    #hero h1 {
        font-size: 7rem;
    }

/*End Hero*/

/* Services Section */
 .services-bottom .service-item{

   flex-basis: 45%;
   margin: 2.5%;

}

/* End Services Section */
        
/* Project */

#projects .project-item{
    height: 400px;
    margin:0;
    width: 100%;
    border-radius: 0;
    flex-direction: row;
}
#projects .project-item:nth-child(even){
    flex-direction: row-reverse;
} 
#projects .all-projects .project-info{
    height: 100%;
}
#projects .all-projects .project-img{
    height: 100%;
} 



/* End Project */ 

    /* About */
    #about{
        margin-left: 100px;
    }
    #about .about {
        flex-direction: row;
        margin-right:20px ;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
        margin-right: ;
    
    }
    #about .about .col-left .about-img::after{
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }
    #about .col-right{
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1{
        text-align: left;
        padding: 8px;
    }
    #about .col-right .cta{
        font-size: 1.5rem;
        width: 370px;
    }
    /* End About */

    /* Contact */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-height: 20vh;
    }
 
     #contact .contact-items{
        width: 100%;
        display: flex;
        
    }
    #contact .contact h1{
        text-align: center;

    }
    #contact .contact-item{
        margin: 20px;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 80px;
        width: 80px;
    }
    #contact .contact-item .icon img{
        object-fit: contain;
    }
    #contact .contact-item .contact-info{
        width: 100%;
        text-align: left;
        padding-left: 20px;
    } 
    #contact a{
        margin: 0 20px;
    }
     /*End Contact */

}  
/* End Media Query For Tablet */

/* Media query for desktop */
@media only screen and (min-width:1100px){
 
    .services-bottom .service-item{

        flex-basis: 22%;
        margin: 1.5%;
     
     }
}

 
/* End media query for desktop */